{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="container jumbotron text-center">Mon Blog </h1>


<div class="row ">
<div class="col-md-8">
    <div class="row">
        {% for article in articles %}
        <div class="col-4">
            <div class="card col-md-4 border-secondary mb-3 " style="max-width: 20rem;">
            <p class="date">Écrit le {{ article.createdAt | date("d/m/y") }} à {{ article.createdAt | date("H:m") }} </p>
                <div class="card-header">{{ article.title }}</div>
                <img src="blog/images/{{ article.image }}" alt="{{ article.title}}" class="d-block user-select-none " width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <a href="{{path('show',{'id' :article.id })}}" class="btn btn-primary m-2">En savoir plus</a>
            </div>
    </div>
    
    {% endfor %}
    </div>

    </div>
<div class="col-md-4">
<h2>Categories</h2>
    <ul class="list-group">
    {% for categorie in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{path('show_article', {'id' :categorie.id })}}" >
            {{categorie.title}}
                <span class="badge badge-primary badge-pill">{{categorie.articles | length }} article(s)</span>
            </a>
        </li>
 {% endfor %}

</ul>

</div>

    


</div>
</div>


{% endblock %}
