{% extends 'base.html.twig' %}





 {% block body %} 
 
 <div class="container">
 <h1 class="title p-1">{{ article.title }}</h1>
    <div class="img-fluid">

    <img width="100%" src="/blog/images/{{ article.image }}" alt=" {{article.title }}">

    </div>


    <div class="content">
        <p class="date">Écrit le {{ article.createdAt | date("d/m/y") }} à {{ article.createdAt | date("H:m") }} par <span class="author" > {{ article.author }} </span></p>
        <h2 class="title" >{{ article.title }}</h2>
        <p class="content text-justify">
        {{ article.content | raw }}
        </p>

    </div>
</div>


 
 {% endblock %} 